Repository frgfm/torch-scan, changes with the labels that .github/labeler.yml gives for each.
All labels: module: crawler, module: modules, module: process, module: utils, ext: docs, ext: scripts, ext: tests, topic: ci, topic: documentation, topic: build

docs: Fixed hyperlink in README
  README.md
Labels: topic: documentation

chore: Added bandit & autoflake
  pyproject.toml
Labels: topic: build

docs: Updated makefile
  Makefile
Labels: none

docs: Updated CONTRIBUTING
  CONTRIBUTING.md
Labels: topic: documentation

feat: Added precommit hooks
  .pre-commit-config.yaml
Labels: none

style: added CI job for bandit
  .github/workflows/style.yml
Labels: none

style: Fixed linting
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/workflows/doc-status.yml
  CONTRIBUTING.md
  README.md
  docs/source/index.rst
  docs/source/utils.rst
Labels: topic: documentation

.github/labeler.yml:

'module: crawler':
- torchscan/crawler.py

'module: modules':
- torchscan/modules/*

'module: process':
- torchscan/process/*

'module: utils':
- torchscan/utils.py

'ext: docs':
- docs/*

'ext: scripts':
- scripts/*

'ext: tests':
- tests/*

'topic: ci':
- .github/*

'topic: documentation':
- README.md
- CONTRIBUTING.md

'topic: build':
- setup.py
- pyproject.toml
