Repository frgfm/torch-scan, pull requests merged in 2022-05, with the labels that each got.

#52 fix: Fixed MAC/FLOP computation for Linear in higher dimensions
  test/test_modules.py
  torchscan/crawler.py
  torchscan/modules/flops.py
  torchscan/modules/macs.py
Labels: type: bug, topic: documentation, module: crawler, module: modules, ext: test

#53 refactor: Improved project code quality
  .flake8
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/release.yml
  .github/validate_deps.py
  .github/validate_headers.py
  .github/verify_labels.py
  .github/workflows/doc-status.yml
  .github/workflows/docs.yml
  .github/workflows/main.yml
  .github/workflows/pr-labels.yml
  .github/workflows/release.yml
  .github/workflows/style.yml
  .isort.cfg
  .pydocstyle
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  Makefile
  docs/requirements.txt
  docs/source/changelog.rst
  docs/source/conf.py
  docs/source/index.rst
  docs/source/installing.rst
  scripts/benchmark.py
  scripts/collect_env.py
  setup.py
  test/test_crawler.py
  test/test_modules.py
  test/test_process.py
  test/test_utils.py
  tests/requirements.txt
  tests/test_crawler.py
  tests/test_modules.py
  tests/test_process.py
  tests/test_utils.py
  torchscan/crawler.py
  torchscan/modules/flops.py
  torchscan/modules/macs.py
  torchscan/modules/memory.py
  torchscan/modules/receptive.py
  torchscan/process/memory.py
  torchscan/utils.py
Labels: type: enhancement, module: utils, module: crawler, module: modules, module: process, ext: scripts, ext: test, ext: docs, topic: ci

#56 fix: read encoding with utf-8
  setup.py
Labels: type: bug, topic: build

#57 refactor: Refactored setup and tool config into setup.cfg
  .coveragerc
  .flake8
  .github/validate_deps.py
  .github/workflows/builds.yml
  .github/workflows/docs.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
  .github/workflows/style.yml
  .gitignore
  .isort.cfg
  .pydocstyle
  mypy.ini
  setup.cfg
  setup.py
Labels: type: enhancement, topic: build, ext: scripts, topic: ci

#58 style: Added black formatting & refactored configs into pyproject.toml
  .flake8
  .github/validate_deps.py
  .github/validate_headers.py
  .github/verify_labels.py
  .github/workflows/main.yml
  .github/workflows/style.yml
  CONTRIBUTING.md
  Makefile
  docs/source/conf.py
  pyproject.toml
  scripts/benchmark.py
  scripts/collect_env.py
  setup.cfg
  setup.py
  tests/requirements.txt
  tests/test_crawler.py
  tests/test_utils.py
  torchscan/crawler.py
  torchscan/modules/flops.py
  torchscan/modules/macs.py
  torchscan/modules/memory.py
  torchscan/modules/receptive.py
  torchscan/process/memory.py
  torchscan/utils.py
Labels: type: enhancement, topic: build, ext: scripts, topic: ci, type: code quality

#59 ci: Deprecates old requirements.txt
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/collect_env.py
  .github/validate_deps.py
  .github/workflows/builds.yml
  .github/workflows/docs.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
  .github/workflows/style.yml
  docs/requirements.txt
  requirements.txt
  scripts/requirements.txt
  tests/requirements.txt
Labels: type: enhancement, topic: build, topic: ci

#60 docs: Renamed ref from master to main
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/builds.yml
  .github/workflows/docs.yml
  .github/workflows/pr-labels.yml
  .github/workflows/style.yml
  .github/workflows/tests.yml
  CONTRIBUTING.md
  README.md
Labels: topic: documentation, topic: ci, type: breaking change, type: misc
